version: "3.9"

services:
  server:
    image: fix_server
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: fix_server
    ports:
      - "5555:5555"
    networks:
      - fixnet

  client:
    image: fix_client
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: fix_client
    depends_on:
      - server
    networks:
      - fixnet

networks:
  fixnet:
    driver: bridge